<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="reset.css">
    <title>Monopoly Game</title>
    <style>
        table {
            border-collapse: collapse;
            background-color:gray;
            width: 100%;
        }

        td, th {
            text-align: left;
            padding:5px;
        }

    </style>
</head>
<body style="margin:0;padding:0;">

    <!-- Background Image -->
    <div style="padding:0;margin:0;width:100%;height:100%;z-index:-1;position:absolute;background-image:url('https://images-na.ssl-images-amazon.com/images/S/pv-target-images/aa22f7bd40726af6afd9c54799b3cbe996ade4542b502f08f8d64e832f2e18b1._RI_.jpg'); background-repeat: repeat;filter: grayscale(60%);background-size: 40%;">
        <img>
    </div>

    <input type="hidden" id="token" name="token" value="{{ token }}">
    <div style="display:flex; width:90%; margin-left:auto;margin-right:auto;flex-direction:column;gap:20px;padding-top:10px;">
        <div style="font-family:'Gill Sans'; width:100%; height:auto;display:flex;justify-content:space-between;stroke-width:3;stroke:rgb(0,0,0);">
            <a href="/"><img style="height:50px;" src="https://upload.wikimedia.org/wikipedia/commons/d/df/Monopoly-Logo.svg" alt="Kiwi standing on oval"></a>
            <div style="display:flex;gap:10px;font-size:18px;">
                <div style="display:flex;justify-content:center;align-items:center;margin:0;">username: <p id="username">{{username}}</p> </div>
                <a href="/user/{{username}}"><button style="padding:10px;height:50%;text-align:center;">Profile</button></a>
                <a href="/logout"><button style="padding:10px;height:50%;text-align:center;">Logout</button></a>

            </div>
        </div>

        <div style="display:flex; flex-direction: row; width:100%; justify-content:space-between;">
            <div style="width:70%;display:flex;justify-content:center;">
                <p style="display:none" id="total_size">{{total_size}}</p>

                <svg width={{width}} height={{height}} fill="#cde6d1">

                    <g>
                        <rect x={{base}} y={{base}} width={{middle_rect_size}} height={{middle_rect_size}} fill="#cde6d1" style="stroke-width:3;stroke:rgb(0,0,0)" />
                        <text x={{middle_text_loc}} y={{middle_text_loc}} transform="rotate(-45, {{middle_text_loc}}, {{middle_text_loc}})" alignment-baseline="middle" font-size="70" font-family="Gill Sans" stroke-width="0" stroke="#000" text-anchor="middle" fill="black">MONOPOLY</text>
                    </g>
                    {% for cell in cells %}
                    <g id={{cell.index}} onClick="select_cell(this.id)" >
                        {% if cell.type == "property" %}
                        {% if cell.direction == "up" %}
                        <rect x={{cell.location.0}} y={{cell.location.1}} width={{base}} height={{base}} fill="#cde6d1" style="stroke-width:3;stroke:rgb(0,0,0)" />
                        <rect x={{cell.location.0}} y={{base|add:"-20"}} width={{base}} height="20" fill={{cell.color}} style="stroke-width:2;stroke:rgb(0,0,0)" />
                        <text x={{cell.text_location.0}} y={{cell.text_location.1}}  alignment-baseline="middle" font-size="14" stroke-width="0" stroke="#000" text-anchor="middle"  font-family="Gill Sans" fill="black">{{cell.name}}</text>
                        <text x={{cell.text_location.0|add:"-20"}} y={{cell.text_location.1|add:"20"}}  alignment-baseline="middle" font-size="14" stroke-width="0" stroke="#000"  font-family="Gill Sans" fill="black">{{cell.price}}$</text>
                        <text x={{cell.text_location.0|add:"-20"}} y={{cell.text_location.1|add:"35"}}  alignment-baseline="middle" font-size="14" stroke-width="0" stroke="#000"  font-family="Gill Sans" fill="black">Level {{cell.level}}</text>
                        <text x={{cell.text_location.0|add:"-20"}} y={{cell.text_location.1|add:"50"}}  alignment-baseline="middle" font-size="14" stroke-width="0" stroke="#000"  font-family="Gill Sans" fill="black"></text>
                        {% elif cell.direction == "right" %}
                        <rect x={{cell.location.0}} y={{cell.location.1}} width={{base}} height={{base}} fill="#cde6d1" style="stroke-width:3;stroke:rgb(0,0,0)" />
                        <rect x={{cell.location.0}} y={{cell.location.1}} width={{20}} height={{base}} fill={{cell.color}} style="stroke-width:2;stroke:rgb(0,0,0)"/>
                        <text x={{cell.text_location.0}} y={{cell.text_location.1}} transform="rotate(-90, {{cell.text_location.0}}, {{cell.text_location.1}})"  alignment-baseline="middle" font-size="14" stroke-width="0" stroke="#000" text-anchor="middle"  font-family="Gill Sans" fill="black">{{cell.name}}</text>
                        <text x={{cell.text_location.0|add:"-20"}} y={{cell.text_location.1|add:"20"}} transform="rotate(-90, {{cell.text_location.0}}, {{cell.text_location.1}})" alignment-baseline="middle" font-size="14" stroke-width="0" stroke="#000"  font-family="Gill Sans" fill="black">{{cell.price}}$</text>
                        <text x={{cell.text_location.0|add:"-20"}} y={{cell.text_location.1|add:"35"}} transform="rotate(-90, {{cell.text_location.0}}, {{cell.text_location.1}})" alignment-baseline="middle" font-size="14" stroke-width="0" stroke="#000"  font-family="Gill Sans" fill="black">Level {{cell.level}}</text>
                        <text x={{cell.text_location.0|add:"-20"}} y={{cell.text_location.1|add:"50"}} transform="rotate(-90, {{cell.text_location.0}}, {{cell.text_location.1}})" alignment-baseline="middle" font-size="14" stroke-width="0" stroke="#000"  font-family="Gill Sans" fill="black"></text>

                        {% elif cell.direction == "left" %}
                        <rect x={{cell.location.0}} y={{cell.location.1}} width={{base}} height={{base}} fill="#cde6d1" style="stroke-width:3;stroke:rgb(0,0,0)" />
                        <rect x={{base|add:"-20"}} y={{cell.location.1}} width={{20}} height={{base}} fill={{cell.color}} style="stroke-width:2;stroke:rgb(0,0,0)"/>
                        <text x={{cell.text_location.0}} y={{cell.text_location.1}} transform="rotate(90, {{cell.text_location.0}}, {{cell.text_location.1}})" alignment-baseline="middle" font-size="14" stroke-width="0" stroke="#000" text-anchor="middle"  font-family="Gill Sans" fill="black">{{cell.name}}</text>
                        <text x={{cell.text_location.0|add:"-20"}} y={{cell.text_location.1|add:"20"}}  transform="rotate(90, {{cell.text_location.0}}, {{cell.text_location.1}})" alignment-baseline="middle" font-size="14" stroke-width="0" stroke="#000"  font-family="Gill Sans" fill="black">{{cell.price}}$</text>
                        <text x={{cell.text_location.0|add:"-20"}} y={{cell.text_location.1|add:"35"}}  transform="rotate(90, {{cell.text_location.0}}, {{cell.text_location.1}})" alignment-baseline="middle" font-size="14" stroke-width="0" stroke="#000"  font-family="Gill Sans" fill="black">Level {{cell.level}}</text>
                        <text x={{cell.text_location.0|add:"-20"}} y={{cell.text_location.1|add:"50"}}  transform="rotate(90, {{cell.text_location.0}}, {{cell.text_location.1}})" alignment-baseline="middle" font-size="14" stroke-width="0" stroke="#000"  font-family="Gill Sans" fill="black"></text>

                        {% else %}
                        <rect x={{cell.location.0}} y={{cell.location.1}} width={{base}} height={{base}} fill="#cde6d1" style="stroke-width:3;stroke:rgb(0,0,0)" />
                        <rect x={{cell.location.0}} y={{cell.location.1}} width={{base}} height="20" fill={{cell.color}} style="stroke-width:2;stroke:rgb(0,0,0)" />
                        <text x={{cell.text_location.0}} y={{cell.text_location.1}}  alignment-baseline="middle" font-size="14" stroke-width="0" stroke="#000" text-anchor="middle"  font-family="Gill Sans" fill="black">{{cell.name}}</text>
                        <text x={{cell.text_location.0|add:"-20"}} y={{cell.text_location.1|add:"20"}}  alignment-baseline="middle" font-size="14" stroke-width="0" stroke="#000"  font-family="Gill Sans" fill="black">{{cell.price}}$</text>
                        <text x={{cell.text_location.0|add:"-20"}} y={{cell.text_location.1|add:"35"}}  alignment-baseline="middle" font-size="14" stroke-width="0" stroke="#000"  font-family="Gill Sans" fill="black">Level: {{cell.level}}</text>
                        <text x={{cell.text_location.0|add:"-20"}} y={{cell.text_location.1|add:"50"}}  alignment-baseline="middle" font-size="14" stroke-width="0" stroke="#000"  font-family="Gill Sans" fill="black"></text>

                        {% endif %}
                        {% elif cell.type == "station" %}
                        <rect x={{cell.location.0}} y={{cell.location.1}} width={{base}} height={{base}}  fill="#cde6d1"  style="stroke-width:3;stroke:rgb(0,0,0)" />
                        <text x={{cell.text_location.0}} y={{cell.text_location.1}}  alignment-baseline="middle" font-size="12" stroke-width="0" stroke="#000" text-anchor="middle"  font-family="Gill Sans" fill="black">STATION {{cell.direction}}</text>
                        {% elif cell.type == "start" %}
                        <rect x={{cell.location.0}} y={{cell.location.1}} width={{base}} height={{base}}  fill="#cde6d1"  style="stroke-width:3;stroke:rgb(0,0,0)" />
                        <text x={{cell.text_location.0}} y={{cell.text_location.1}}  alignment-baseline="middle" font-size="15" stroke-width="0" stroke="#000" text-anchor="middle"  font-family="Gill Sans" fill="black">START</text>
                        {% elif cell.type == "chance_card" %}
                        <rect x={{cell.location.0}} y={{cell.location.1}} width={{base}} height={{base}}  fill="#cde6d1" style="stroke-width:3;stroke:rgb(0,0,0)" />
                        <text x={{cell.text_location.0}} y={{cell.text_location.1}}  alignment-baseline="middle" font-size="15" stroke-width="0" stroke="#000" text-anchor="middle"  font-family="Gill Sans" fill="black">
                            <tspan x={{cell.text_location.0}} y={{cell.text_location.1}} >CHANCE</tspan>
                            <tspan x={{cell.text_location.0}} y={{cell.text_location.1|add:"20"}} >CARD</tspan>
                        </text>
                        {% elif cell.type == "teleport" %}
                        <rect x={{cell.location.0}} y={{cell.location.1}} width={{base}} height={{base}}  fill="#cde6d1" style="stroke-width:3;stroke:rgb(0,0,0)" />
                        <text x={{cell.text_location.0}} y={{cell.text_location.1}}  alignment-baseline="middle" font-size="15" stroke-width="0" stroke="#000" text-anchor="middle"  font-family="Gill Sans" fill="black">TELEPORT</text>
                        {% elif cell.type == "tax" %}
                        <rect x={{cell.location.0}} y={{cell.location.1}} width={{base}} height={{base}}  fill="#cde6d1" style="stroke-width:3;stroke:rgb(0,0,0)" />
                        <text x={{cell.text_location.0}} y={{cell.text_location.1}}  alignment-baseline="middle" font-size="15" stroke-width="0" stroke="#000" text-anchor="middle"  font-family="Gill Sans" fill="black">TAX</text>
                        {% elif cell.type == "jail" %}
                        <rect x={{cell.location.0}} y={{cell.location.1}} width={{base}} height={{base}}  fill="#cde6d1" style="stroke-width:3;stroke:rgb(0,0,0)" />
                        <text x={{cell.text_location.0}} y={{cell.text_location.1}}  alignment-baseline="middle" font-size="15" stroke-width="0" stroke="#000" text-anchor="middle"  font-family="Gill Sans" fill="black">JAIL</text>
                        {% elif cell.type == "goto_jail" %}
                        <rect x={{cell.location.0}} y={{cell.location.1}} width={{base}} height={{base}}  fill="#cde6d1" style="stroke-width:3;stroke:rgb(0,0,0)" />
                        <text x={{cell.text_location.0}} y={{cell.text_location.1}}  alignment-baseline="middle" font-size="15" stroke-width="0" stroke="#000" text-anchor="middle"  font-family="Gill Sans" fill="black">GO TO JAIL</text>

                        {% else %}
                        <rect x={{cell.location.0}} y={{cell.location.1}} width={{base}} height={{base}}  fill="#cde6d1" style="stroke-width:3;stroke:rgb(0,0,0)" />
                        <text x={{cell.text_location.0}} y={{cell.text_location.1}}  alignment-baseline="middle" font-size="12" stroke-width="0" stroke="#000" text-anchor="middle"  font-family="Gill Sans" fill="black">{{cell.type}}</text>
                        {% endif %}
                    </g>
                    {% endfor %}
                    <g id="user_positions">
                        
                    </g>
                </svg>
            </div>

            <div style="font-family: 'Gill Sans', sans-serif;width:30%; display: flex; flex-direction: column;">

                <h2>Board <p id="board_name">{{name}}</p></h2>
                <div>
                    <h2 id="winner"></h2>

                    <div style="width:300px;display:inline-block;vertical-align:top">
                        <div id="status" style="background-color: #ffa0a0;">not connected</div>
                    </div>
                    <div style="width:400px; display:inline-block; vertical-align:top">
                        <div id="messages_scroll_bar" style="height: 100px; overflow:scroll;">
                            <ul id='messagelist'>
                            </ul>
                        </div>

                        <h2>Users</h2>

                        <table style="width:100%; background-color: transparent; border: 1px solid black;" id="user_table">
                            {% if users %}
                            <tr>
                                <th>Username</th>
                                <th>Money</th>
                            </tr>
                            {% for user in users %}
                            <tr>
                                <td>
                                    {{user.username}}
                                </td>
                                <td>
                                    {{user.money}}
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                            <h2 id="no_user_info" style="font-weight:normal;">No user is attached yet.</h2>
                        </table>


                        <div style="display:flex; flex-direction:row; gap:5px;margin-top:20px;">
                            <h2 style="margin:0; padding:0;">Current user:</h2> <h2 style="margin:0; padding:0;font-weight:normal" id="current_user">{{current_user}}</h2>
                        </div>


                        <div style="display:flex; flex-direction:row; gap:5px;margin-top:20px;">
                            <h2 style="margin:0; padding:0;font-weight:normal" id="curr_chance_card"></h2>
                        </div>


                        <div style="display:flex; flex-direction:row; gap:5px;margin-top:30px;">
                            <input style="width:45%; padding:6px; border-radius:5px; font-size:15px; background-color:#f5f6fa" type="submit" onclick="sendReady()" value="Ready">
                            <input style="width:45%; padding:6px; border-radius:5px; font-size:15px; background-color:#f5f6fa" type="submit" onclick="sendDetach()" value="Detach">
                            <input style="width:45%; padding:6px; border-radius:5px; font-size:15px; background-color:#f5f6fa" type="submit" onclick="sendAttach()" value="Attach">
                            {% if not started %}
                            <input style="width:45%; padding:6px; border-radius:5px; font-size:15px; background-color:#f5f6fa" type="submit" onclick="sendStart()" value="Start">
                            {% endif %}
                        </div>


                        <div style="margin-top:20px;">

                            <div style="display:flex; flex-direction:column; gap:10px;;">

                                <h2>Options</h2>
                                {% if 'dice' not in options or 'buy' not in options %}
                                <div style="padding: 8px;">Current selected cell: </div>
                                <input type="text" style="padding: 6px; border-radius:5px;text-align: center;" name="selected_cell" id="cell">
                                {% endif %}
                                <div id="option_buttons">

                                </div>
                            </div>
                        </div>


                    </div>


                </div>
            </div>

        </div>

        <script type="text/javascript">
            var selected_cell = -1;

            function select_cell(clicked_id)
            {
                selected_cell = clicked_id;
                console.log("here")
                document.getElementById('cell').value = selected_cell;

            };



        </script>

        <script>
            var cell_svg_locations = []
            let size = 8;
            let base = 100;
            for (let i = 0; i < 8; i++) {
                cell_svg_locations.push({"x": i * base, "y": 0});
            }
            for (let i = 1; i < 8; i++) {
                cell_svg_locations.push({"x": (size - 1) * base, "y": i * base});
            }
            for (let i = size - 2; i > -1; i--) {
                cell_svg_locations.push({"x": i * base, "y": (size - 1) * base});
            }
            for (let i = size - 2; i > 0; i--) {
                cell_svg_locations.push({"x": 0, "y": i * base});
            }
            
            console.log(cell_svg_locations)

            function sendenter(e, f) {
                if (e.keyCode == 13) { f();}
                return false;
            }
            function addMess() {
                var el = document.getElementById('newmess');
                ws.socket.send(el.value);
                el.value = "";
            }
            
            function updateStatistics(response) {
                console.log("response: ", response)
                var board_state = JSON.parse(response[0].split("&")[1])
                console.log("STATE IS ARRIVED. NEED TO UPDATE THE TABLE.",board_state)
                
                // scroll
                var objDiv = document.getElementById("messages_scroll_bar");
                objDiv.scrollTop = objDiv.scrollHeight;


                if (board_state["users"].length !== 0) {
                    document.getElementById("no_user_info").innerHTML = "";
                }

                if (board_state["curr_chance_card"]) {
                    document.getElementById("curr_chance_card").innerHTML = "Selected Chance Card: " + board_state["curr_chance_card"];
                } else {
                    document.getElementById("curr_chance_card").innerHTML = "";
                }

                if (board_state["game_over"] !== "") {
                    document.getElementById("winner").innerHTML = "Winner: " + board_state["game_over"];
                }
                
                // user table change
                table = document.getElementById('user_table')
                user_positions = document.getElementById('user_positions')

                table.innerHTML = "";
                user_positions.innerHTML = ""

                if (board_state["current_user"] !== "") {
                    console.log("now we will update current user div.")
                    document.getElementById("current_user").innerText = board_state["current_user"]
                } else {
                    console.log("current user is null")
                }

                for (var user_index in board_state["users"]) {
                    var user = board_state["users"][user_index];
                    
                    // change position
                    var position = cell_svg_locations[board_state["user_positions"][user.username]];
                    var x = position.x + 50;
                    var y = position.y + 50;
                    user_positions.innerHTML += 
                    "<g>" +
                        '<circle cx="' + x + '" cy="' + y + '" r="15" stroke="black" stroke-width="3" fill="gray"/>' +
                        '<text x="' + x + '" y="' + y + '" text-anchor="middle"  stroke-width="2px" dy=".3em">'+ user.username[0] + '</text>' +
                    "</g>"

                    // fill table
                    var row = table.insertRow();
                    var cell1 = row.insertCell(0);
                    cell1.style.padding = "10px";
                    var cell2 = row.insertCell(1);
                    cell1.innerHTML = user.username;
                    cell2.innerHTML = user.money;


                    // console.log(document.getElementById("username").innerHTML, document.getElementById("current_user").innerHTML, document.getElementById("username").innerHTML === document.getElementById("current_user").innerHTML)
                    option_buttons.innerHTML = ""
                    if (document.getElementById("username").innerHTML === board_state["current_user"]) {
                        console.log("adding options.")
                        option_buttons = document.getElementById("option_buttons");
                        for (option_index in board_state["options"]) {
                            var option = board_state["options"][option_index]
                            option_buttons.innerHTML += '<input style="width:100%; padding:6px; border-radius:5px; font-size:15px; background-color:#f5f6fa" type="submit" onclick="sendCommand(this.value)" name="option" value=' + option + ' id= ' + option + ' >'
                            console.log("option: ",option);
                        }
                    } else {
                        console.log("couldn't update options")
                    }
                }

                for (var cell_index in board_state["cells"]) {
                    var cell = board_state["cells"][cell_index];
                    if (cell["type"] === "property") {
                        document.getElementById(cell_index).getElementsByTagName("text")[1].innerHTML = cell["price"] + "$";
                        document.getElementById(cell_index).getElementsByTagName("text")[2].innerHTML = "Level " + cell["level"];
                        if (cell["owner"]) {
                            console.log(cell["owner"])
                            document.getElementById(cell_index).getElementsByTagName("text")[3].innerHTML = cell["owner"];
                        }
                    }
                }
            }

            function sendAttach() {
                var token = document.getElementById("token").value;
                var board_name = document.getElementById("board_name").innerText;
                ws.socket.send("open,"+board_name+","+token);
            }

            function sendDetach() {
                var token = document.getElementById("token").value;
                var board_name = document.getElementById("board_name").innerText;
                ws.socket.send("close,"+board_name+","+token);
            }

            function sendReady() {
                var token = document.getElementById("token").value;
                var board_name = document.getElementById("board_name").innerText;
                ws.socket.send("ready,"+board_name+","+token);
            }

            function sendStart() {
                var token = document.getElementById("token").value;
                var board_name = document.getElementById("board_name").innerText;
                ws.socket.send("start,"+board_name+","+token);
            }
            function sendCommand(option) {
                var token = document.getElementById("token").value;
                var selected_cell = document.getElementById("cell").value
                console.log(option, selected_cell)
                var board_name = document.getElementById("board_name").innerText;
                ws.socket.send("command,"+option+","+token+","+selected_cell+","+board_name);
            }




            class Ws {
                constructor(ipport) {
                    this.socket = undefined;
                    this.ipport = ipport;
                    this.createwebsocket();
                }
                createwebsocket() {
                    var status = document.getElementById('status');
                    if (this.socket)	// if already connected close it and reopen
                        this.socket.close();

                    var socket = new WebSocket('ws://' + this.ipport);
                    socket.onopen = function() {
                        // send id list for notifications
                        status.textContent = 'Connected to Websocket.';
                        var token = document.getElementById("token").value;
                        var boardName = document.getElementById("board_name").innerText
                        socket.send(boardName)
                        socket.send("state,"+boardName+","+token)
                        status.setAttribute('style','background-color: #a0ffa0');
                    }
                    socket.onerror = function() {
                        status.textContent = 'Connection failed';
                        status.setAttribute('style','background-color: #ffa0a0');
                    }
                    socket.onclose = function() {
                        status.textContent = 'Connection closed';
                        status.setAttribute('style','background-color: #ffa0a0');
                        ws.socket = undefined;
                        setTimeout(() => {
                            if (! ws.socket ) {
                                ws.createwebsocket();
                            } }, 5000);
                    }


                    socket.onmessage = function wseventhandler (event) {
                        var messages = event.data;

                        console.log("on message func")
                        if (!Array.isArray(messages)) {
                            var content = event.data.split("&")
                            if (content[0] === "l") {
                                console.log("this is a log message")
                                messages = messages.split("*");
                            } else {
                                messages = messages.split("*");
                                updateStatistics(messages)
                                return
                            }
                        }
                        console.log("messages", messages)
                        for ( var mid in messages) {
                            var content = messages[mid].split("&")
                            console.log("content: ", content)
                            if (content[0] === "l") {
                                console.log("appending new element", content[1])
                                var messlist = document.getElementById('messagelist'),
                                messitem = document.createElement('li');
                                messitem.innerHTML = content[1];
                                messlist.appendChild(messitem);
                            } else {
                                updateStatistics(messages[mid])
                            }
                        }
                    }
                    this.socket = socket

                }
            }
            window.onload = function () {
                ws = new Ws('127.0.0.1:5680')
            }
        </script>

</body>
</html>
