<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title></title>
  </head>

  <body>

  <div style="display:flex; flex-direction:column;gap:20px;">
        <div style="font-family:'Verdana'; width:{{1020}}px; height:auto;display:flex;justify-content:space-between;stroke-width:3;stroke:rgb(0,0,0);">
            <a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/d/df/Monopoly-Logo.svg" alt="Kiwi standing on oval"></a>
            <div style="display:flex;gap:10px;">
                <p style="display:flex;justify-content:center;align-items:center;margin:0">username: {{username}}</p>
                <a href="/logout"><button >Logout</button></a>
            </div>
        </div>

      <div>
          <h1>{{message}}</h1>

            {% for board in boards %}
                <h1>Join the game: <a href="/board/{{board}}">{{board}}</a></h1>
            {% endfor %}

            <form method="post" action="/new">
                <label>Board Name: </label><br>
                <input type="text" name="name"><br>
                <label>Board JSON Path (Please give absolute path): </label><br>
                <input type="text" name="json_board" value=""><br><br>
                {% csrf_token %}
                <input type="submit" value="Send">
            </form>
      </div>

  </div>

    <script type="text/javascript">

      </script>

  </body>
</html>